<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>


 



    <system.web>
      <compilation  targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />

  <urlMappings enabled="true">
        <add url="~/" mappedUrl="~/Webservice.asmx" />
    </urlMappings>
    <authorization>
        <allow roles="admin"/>
        <deny users="*" />
    </authorization>

     <webServices>
  
<protocols>

    <add name="HttpPost"/> 
    <add name="HttpGet"/> 
   
  </protocols>
 

    </webServices>
 
    </system.web>

<location path="Webservice.asmx">
    <system.web>
        <authorization>
            <allow users="*" />
        </authorization>
    </system.web>
</location>

  <connectionStrings>
    <add name="DBCon" connectionString="Data Source=SQL7002.HostBuddy.com;Initial Catalog=DB_A2C4BC_newbarterworld;User Id=DB_A2C4BC_newbarterworld_admin;Password=15881071138zyhzx;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>








